.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  }

  .blogItemh2{
    cursor: pointer;
    margin-bottom: 0.5vw;
  }

  .blogItemp{
    max-width: 45vw;
  }