.container{
    max-width: 45vw;
    margin: 30px auto;
}

.mb3{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
}

.formLabel{
    margin: 12px 14px 8px 0;
}

.formControl{
    padding: 10px 5px;
    margin-bottom: 5px;
}

.h1{
    margin: 5px 0 20px 0;
}

.btn{
    margin-top: 15px;
    padding: 8px;
}